.cache
build/*

# CMake .gitignore from github
# I'm building everything inside build/ but it's good to have a fallback in case I use the wrong CMake command
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
